<div class="form-group">
  <label for="information">information:</label>
  <input
    required
    type="text"
    name="information"
    id="information"
    class="form-control mt-2"
    value="<%= standings.information %>"
  >
</input>
</div>

<button type="submit" class="btn btn-primary px-3 mt-4">Save</button>
<a
  href="/admin/standings"
  id="confirmClickActionElementId"
  class="btn btn-secondary px-3 mt-4"
  onclick="return confirm('Are you sure you want to cancel?');"
  >Cancel</a
>
