<div class="form-group">
    <label for="information">information:</label>
    <input
      required
      type="text"
      name="information"
      id="information"
      class="form-control mt-2"
    />
  </div>
  <button tpye="submit" class="btn btn-primary px-3 mt-4">Save</button>
  