<div class="form-group">
  <label for="title">Title</label>
  <input
    required
    type="text"
    name="title"
    id="title"
    class="form-control mt-2"
  />
</div>
<div class="form-group">
  <label for="description">Description</label>
  <textarea
    name="description"
    id="description"
    class="form-control mt-2"
  ></textarea>
</div>

<button tpye="submit" class="btn btn-primary px-3 mt-4">Save</button>
