.container-about {
  display: flex;
  margin-bottom: 10%;
}

#about {
  margin-top: 5%;
}

.paragraph-9 {
  position: relative;
  float: none;
  font-family: "Times New Roman", TimesNewRoman, Times, Baskerville, Georgia,
    serif;
  text-align: center;
}

.image-9 {
  border: 1px none #000;
  border-radius: 50px;
  box-shadow: 2px 2px 10px -4px #000;
  flex: 1;
}
