.homepage-section {
  min-height: 100vh;
  grid-auto-flow: row;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.container {
  min-height: 70vh;
  margin-top: 20px;
  background-color: #fff;
  opacity: 1;
  -webkit-backdrop-filter: contrast(200%);
  backdrop-filter: contrast(200%);
}

.body {
  background-color: #fff;
}

.navbar {
  position: relative;
  min-width: 100vh;
  background-color: #fff;
}

.div-block {
  min-height: 60vh;
  color: #fff53b;
}

.heading {
  margin-top: 150px;
  float: none;
  clear: none;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  color: #3b3b3b;
  font-size: 99px;
  line-height: 80px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: normal;
  text-indent: 0px;
  white-space: normal;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-2 {
  min-height: 1px;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.text-block {
  margin-top: 22px;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.image {
  position: absolute;
  float: none;
  clear: none;
}

.image-2 {
  position: relative;
}

.image-3 {
  position: relative;
  left: 63px;
  top: 57px;
  z-index: 1;
}

.image-3.landing-image {
  border-radius: 3px;
  box-shadow: 2px 2px 10px -3px #000;
}

.image-4 {
  position: relative;
  z-index: 2;
  float: right;
  clear: none;
}

.image-4.landing-image {
  top: 25px;
  border-radius: 4px;
  box-shadow: 3px 3px 10px -5px #000;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.image-5 {
  position: absolute;
  top: 102px;
}

.image-5.landing-image {
  border-radius: 3px;
  background-image: url('../images/jacobs.jpeg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: repeat;
  box-shadow: 3px 3px 10px -3px #000;
  opacity: 1;
}

.image-6 {
  position: relative;
  top: 149px;
  right: 6px;
  float: right;
}

.image-6.landing-image {
  border-radius: 2px;
  box-shadow: 4px 4px 10px -3px #000;
}

.link-block {
  color: #3b3b3b;
  text-decoration: none;
}

.body-2 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 1px dashed #000;
  text-decoration: none;
  white-space: normal;
}

.nav-link {
  text-decoration: none;
}

.nav-link.w--current {
  border-bottom: 1px solid #000;
  border-radius: 0px;
  color: #3b3b3b;
  font-style: normal;
  text-decoration: none;
}

.grid {
  min-height: 100vh;
  grid-column-gap: 16px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-7 {
  margin-top: 79px;
  margin-left: 130px;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px -3px #000;
  opacity: 0.95;
}

.paragraph {
  margin-top: 125px;
  margin-right: 50px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.image-8 {
  position: relative;
  margin-top: 0px;
  float: left;
  clear: none;
  border-radius: 5px;
  box-shadow: 2px 2px 10px -3px #000;
  opacity: 0.96;
}

.image-8.mobile-image8 {
  top: -32px;
  right: 38px;
  float: right;
  -webkit-filter: saturate(0%);
  filter: saturate(0%);
}

.div-block-3 {
  position: relative;
  float: right;
  clear: none;
}

.paragraph-2 {
  position: relative;
  left: -304px;
  bottom: 220px;
  margin-left: 127px;
  padding-right: 200px;
  padding-left: 200px;
  float: right;
  clear: none;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 15px;
  text-align: left;
}

.div-block-4 {
  position: relative;
  margin-top: 83px;
  margin-right: 0px;
  padding-right: 0px;
  float: left;
}

.div-block-5 {
  position: relative;
  bottom: 48px;
  padding-bottom: 0px;
  float: left;
}

.heading-3 {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 25px;
}

.heading-4 {
  position: relative;
  top: -111px;
  right: -22px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.list {
  position: relative;
  top: -114px;
}

.container-4 {
  min-height: 100vh;
}

.section {
  position: static;
  min-height: 100vh;
}

.section-1 {
  min-height: 100vh;
}

.section-2 {
  position: relative;
  display: block;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #fff;
}

.button {
  position: relative;
  left: 124px;
  right: -200px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  background-color: #fae714;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  color: #292929;
  font-weight: 700;
}

.container-5 {
  display: block;
  min-height: 100vh;
}

.heading-7 {
  position: relative;
  left: 200px;
  top: 0px;
  clear: none;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 50px;
  text-align: center;
}

.bold-text {
  position: relative;
  top: 171px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
}

.text-block-2 {
  position: relative;
  top: 0px;
  display: block;
  clear: none;
}

.heading-8 {
  position: relative;
  clear: none;
}

.heading-9 {
  position: relative;
  top: 54px;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 80px;
  text-align: center;
}

.columns {
  position: relative;
  top: 111px;
}

.heading-10 {
  position: relative;
  top: 100px;
  font-size: 30px;
  text-align: center;
}

.paragraph-3 {
  position: relative;
  top: 117px;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 19px;
  font-weight: 400;
  text-align: left;
  white-space: normal;
}

.column {
  top: 127px;
}

.column-2 {
  top: 89px;
}

.container-6 {
  min-height: 100vh;
  background-color: #fff;
}

.div-block-8 {
  min-height: 30vh;
  background-color: transparent;
}

.div-block-9 {
  min-height: 30vh;
  padding-top: 10px;
  background-color: transparent;
}

.div-block-10 {
  min-height: 30vh;
  background-color: transparent;
}

.div-block-11 {
  min-height: 10vh;
}

.heading-13 {
  padding-top: 30px;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 70px;
  text-align: center;
}

.heading-14 {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 35px;
  text-align: center;
}

.paragraph-5 {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 18px;
}

.heading-15 {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 35px;
  text-align: center;
}

.paragraph-6 {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 18px;
}

.heading-16 {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 35px;
  text-align: center;
}

.paragraph-7 {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 18px;
}

.section-3 {
  min-height: 20vh;
  margin-top: 0px;
  padding-top: 40px;
  background-color: transparent;
  line-height: 20px;
}

.section-4 {
  min-height: 40vh;
}

.image-9 {
  position: relative;
  top: -70px;
  right: 76px;
  float: right;
  border: 1px none #000;
  border-radius: 11px;
  box-shadow: 2px 2px 10px -4px #000;
}

.paragraph-8 {
  position: relative;
  left: 72px;
  top: 109px;
  margin-top: 0px;
  padding-right: 423px;
  padding-left: 0px;
  float: left;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 18px;
}

.body-4 {
  border-radius: 0px;
}

.footer-dark {
  position: relative;
  padding: 50px 30px 15px;
  border-bottom: 1px solid #e4ebf3;
  background-color: transparent;
  color: #333;
}

.container-7 {
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-content {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  -ms-grid-columns: auto auto 1fr 0.25fr;
  grid-template-columns: auto auto 1fr 0.25fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.footer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.title-small {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-link-2 {
  margin-top: 12px;
  margin-bottom: 6px;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link-2:hover {
  color: rgba(26, 27, 31, 0.75);
}

.footer-social-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  margin-left: -12px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
  background-color: #e4ebf3;
}

.footer-copyright-center {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.paragraph-9 {
  position: relative;
  float: none;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  text-align: center;
}

.heading-17 {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 35px;
  text-align: left;
}

.list-3 {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 18px;
}

@media screen and (min-width: 1920px) {
  .body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .heading {
    border-radius: 0px;
  }

  .image-3.landing-image {
    left: -83px;
  }

  .image-4.landing-image {
    left: 200px;
  }

  .image-5.landing-image {
    left: -89px;
    right: auto;
  }

  .image-6.landing-image {
    left: 200px;
  }

  .body-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .image-8.mobile-image8 {
    top: auto;
    float: right;
  }

  .paragraph-2 {
    left: auto;
    top: -175px;
    right: 181px;
    margin-right: 159px;
    margin-left: 0px;
    padding-right: 200px;
    float: left;
    font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  }

  .div-block-5.contact {
    bottom: auto;
  }

  .div-block-6 {
    position: relative;
    top: -79px;
    bottom: auto;
    margin-top: 0px;
    float: left;
  }

  .heading-4 {
    position: relative;
    margin-left: 10px;
    float: none;
    font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
    font-size: 25px;
  }

  .footer {
    display: block;
    min-height: 0vh;
    margin-top: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .footer-flex-container {
    position: static;
    clear: none;
    text-align: center;
  }

  .footer-heading {
    margin-bottom: 6px;
    font-size: 20px;
  }

  .div-block-7 {
    margin-left: 0px;
    clear: none;
    text-align: left;
  }

  .list {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style-type: none;
  }

  .container-2 {
    color: #424242;
    line-height: 80vh;
  }

  .container-3 {
    display: block;
    min-height: 60vh;
    margin-top: 83px;
    border-radius: 20px;
    background-color: #aed0fc;
  }

  .body-3 {
    display: block;
    background-color: #fff;
  }

  .heading-5 {
    position: relative;
    margin-left: 20px;
    padding-left: 0px;
    float: left;
    clear: none;
  }

  .form-block {
    margin-top: 168px;
    padding-right: 127px;
    padding-left: 106px;
  }

  .container-4 {
    height: 100vh;
  }

  .heading-6 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .list-2 {
    margin-top: 10px;
    list-style-type: none;
  }

  .list-item {
    font-size: 30px;
  }

  .columns-2 {
    position: relative;
    top: 146px;
    min-width: 100vh;
  }

  .heading-11 {
    padding-right: 0px;
    font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
    text-align: center;
  }

  .paragraph-4 {
    margin-right: 0px;
    padding-right: 0px;
    font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
    font-size: 20px;
  }

  .column {
    padding-right: 93px;
    padding-left: 0px;
    clear: none;
  }

  .heading-12 {
    font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  }

  .div-block-9 {
    background-color: transparent;
  }

  .div-block-10 {
    background-color: transparent;
  }

  .heading-13 {
    margin-bottom: 0px;
  }

  .heading-14 {
    font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
    font-size: 35px;
    text-align: center;
  }

  .paragraph-5 {
    font-style: normal;
    font-weight: 400;
  }

  .heading-15 {
    font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
    font-size: 35px;
    text-align: center;
  }

  .paragraph-6 {
    font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
    font-size: 18px;
  }

  .heading-16 {
    font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
    font-size: 35px;
    text-align: center;
  }

  .paragraph-7 {
    font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
    font-size: 18px;
  }
}

@media screen and (max-width: 991px) {
  .image-3.landing-image {
    left: -7px;
    top: 248px;
    float: none;
  }

  .image-4.landing-image {
    left: 70px;
    top: 19px;
  }

  .image-5.landing-image {
    top: 44px;
  }

  .paragraph-2 {
    left: auto;
    right: auto;
    bottom: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .button {
    left: 305px;
    top: -92px;
    right: 0px;
    float: none;
  }

  .container-7 {
    max-width: 728px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    min-width: 0vh;
  }

  .image-4.landing-image {
    left: -200px;
    top: 19px;
  }

  .image-5.landing-image {
    top: 0px;
    right: 25px;
  }

  .image-8 {
    left: 10px;
    margin-right: 0px;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .image-8.mobile-image8 {
    display: inline-block;
    max-width: 50%;
  }

  .paragraph-2 {
    left: 137px;
    bottom: 133px;
    margin-left: 0px;
    padding-right: 168px;
    padding-left: 175px;
  }

  .div-block-5 {
    left: 10px;
    bottom: 108px;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .button {
    left: -73px;
  }

  .image-9 {
    top: -183px;
  }

  .footer-dark {
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-content {
    margin-top: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-block {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-link-2:hover {
    color: rgba(26, 27, 31, 0.75);
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }
}

@media screen and (max-width: 479px) {
  .image-3.landing-image {
    top: 143px;
  }

  .image-4.landing-image {
    left: -184px;
    top: 29px;
    padding-bottom: 0px;
  }

  .image-5.landing-image {
    top: -6px;
  }

  .image-6.landing-image {
    top: 200px;
  }

  .image-8.mobile-image8 {
    left: 83px;
    bottom: 54px;
    max-width: 60%;
  }

  .paragraph-2 {
    left: 76px;
    top: -38px;
    right: 0px;
    padding-right: 108px;
    padding-left: 0px;
  }

  .div-block-5 {
    left: 76px;
    top: -22px;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .button {
    left: 111px;
    top: -353px;
    bottom: auto;
  }

  .container-7 {
    max-width: none;
  }
}