body {
  overflow: scroll;
  position: relative;
  min-width: 900px;
  font-family: "Times New Roman", TimesNewRoman, Times, Baskerville, Georgia, serif;

}

main {
  top: 50px;
  bottom: 40px;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  min-width: 900px;
}

#section-1 {
  max-width: 100%;
  height: auto;
}
