body {
  overflow: scroll;
  position: relative;
  min-width: 900px;
  font-family: "Times New Roman", TimesNewRoman, Times, Baskerville, Georgia,
    serif;
  background-color: rgb(255, 254, 244);
}

#about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#section-1 {
  max-width: 100%;
  height: auto;
}

.slide-description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 20px;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: black;
  border-radius: 2%;
}

#slides-host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.slide {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 5px;
  position: relative;
  overflow: hidden;
}

.slide-background {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 5px;
}

.slide-with-link:hover .slide-background {
  opacity: 0.2;
  filter: blur(2px);
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.slide-with-link:hover .slide-description {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.slide-without-link:hover .slide-background {
  opacity: 0.2;
  filter: blur(2px);
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.slide-without-link:hover .slide-description {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#main-header-text {
  color: black;
  text-align: center;
  z-index: 1;
}

#about-me-card {
  float: right;
  padding: 40px;
  margin-left: 20px;
}

#mobile-header-text {
  color: black;
  text-align: center;
  font-size: 200px;
  z-index: 1;
  display: none;
}

#about-me-image {
  border-radius: 3%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#mobile-about-me-image {
  border-radius: 3%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#my-description {
  max-width: 200px;
  margin-top: 20px;
  text-align: center;
}

.contact-info {
  text-align: center;
  margin-top:200px
}

#projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-title {
  text-align: center;
  margin-top: 25px;
}

.project-author {
  text-align: center;
}

/* images side by side horizontally */
.project-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.project-image {
  width: 250px;
  height: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 5px;
  position: relative;
}

.project-image-background {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 5px;
}

.nav-item {
  font-size: 1.3rem;
}

.navbar-brand {
  font-size: 2rem;
}


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  #slides-host {
    display: none;
  }
  #main-header-text {
    display: none;
  }
  #mobile-header-text {
    display: block;
    margin-top: 30%;
  }
  #learn-more-button {
    width: 300px;
    height: 100px;
    border-radius: 100px;
    font-size: 40px;
  }
  .home-title {
    font-size: 40px;
  }
  .home-description {
    font-size: 30px;
  }
  #courses-header {
    font-size: 90px;
  }
  .navbar-brand {
    font-size: 40px;
  }
  .navbar-toggler {
    font-size: 30px;
  }
  .nav-item {
    font-size: 30px;
  }
  #standing {
    font-size: 30px;
  }
  #standings-header {
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
  }
  #about-me-image {
    display: block;
    width: 600px;
    border-radius: 50px;
  }
  #my-description {
    font-size: 30px;
    max-width: fit-content;
  }
  .contact-info {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  #slides-host {
    display: none;
  }
  #main-header-text {
    display: none;
  }
  #mobile-header-text {
    display: block;
    margin-top: 30%;
  }
  #learn-more-button {
    width: 300px;
    height: 100px;
    border-radius: 100px;
    font-size: 40px;
  }
  .home-title {
    font-size: 40px;
  }
  .home-description {
    font-size: 30px;
  }
  #courses-header {
    font-size: 90px;
  }
  .navbar-brand {
    font-size: 40px;
  }
  .navbar-toggler {
    font-size: 30px;
  }
  .nav-item {
    font-size: 30px;
  }
  #standing {
    font-size: 30px;
  }
  #standings-header {
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
  }
  #about-me-image {
    display: block;
    width: 600px;
    border-radius: 50px;
  }
  #my-description {
    font-size: 30px;
    max-width: fit-content;
  }
  #contact-div {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
  }
  .contact-info {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  #slides-host {
    display: none;
  }
  #main-header-text {
    display: none;
  }
  #mobile-header-text {
    display: block;
    margin-top: 30%;
  }
  #learn-more-button {
    width: 300px;
    height: 100px;
    border-radius: 100px;
    font-size: 40px;
  }
  .home-title {
    font-size: 40px;
  }
  .home-description {
    font-size: 30px;
  }
  #courses-header {
    font-size: 90px;
  }
  .navbar-brand {
    font-size: 40px;
  }
  .navbar-toggler {
    font-size: 30px;
  }
  .nav-item {
    font-size: 30px;
  }
  #standing {
    font-size: 30px;
  }
  #standings-header {
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
  }
  #about-me-image {
    display: block;
    width: 600px;
    border-radius: 50px;
  }
  #my-description {
    font-size: 30px;
    max-width: fit-content;
  }
  #contact-div {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
  }
  .contact-info {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  #slides-host {
    display: none;
  }
  #main-header-text {
    display: none;
  }
  #mobile-header-text {
    display: block;
    margin-top: 30%;
  }
  #learn-more-button {
    width: 300px;
    height: 100px;
    border-radius: 100px;
    font-size: 40px;
  }
  .home-title {
    font-size: 40px;
  }
  .home-description {
    font-size: 30px;
  }
  #courses-header {
    font-size: 90px;
  }
  .navbar-brand {
    font-size: 40px;
  }
  .navbar-toggler {
    font-size: 30px;
  }
  .nav-item {
    font-size: 30px;
  }
  #standing {
    font-size: 30px;
  }
  #standings-header {
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
  }
  #about-me-image {
    display: block;
    width: 600px;
    border-radius: 50px;
  }
  #my-description {
    font-size: 30px;
    max-width: fit-content;
  }
  #contact-div {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
  }
  .contact-info {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  #slides-host {
    display: none;
  }
  #main-header-text {
    display: none;
  }
  #mobile-header-text {
    display: block;
    margin-top: 30%;
  }
  #learn-more-button {
    width: 300px;
    height: 100px;
    border-radius: 100px;
    font-size: 40px;
  }
  .home-title {
    font-size: 40px;
  }
  .home-description {
    font-size: 30px;
  }
  #courses-header {
    font-size: 90px;
  }
  .navbar-brand {
    font-size: 40px;
  }
  .navbar-toggler {
    font-size: 30px;
  }
  .nav-item {
    font-size: 30px;
  }
  #standing {
    font-size: 30px;
  }
  #standings-header {
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
  }
  #about-me-image {
    display: block;
    width: 600px;
    border-radius: 50px;
  }
  #my-description {
    font-size: 30px;
    max-width: fit-content;
  }
  #contact-div {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
  }
  .contact-info {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}

/* ---------- Laptop Screens ----------- */

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .slide {
    max-width: 225px;
    max-height: 225px;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  #section-1 {
    margin-top: 150px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .slide {
    max-width: 200px;
    max-height: 200px;
  }
  #section-1 {
    margin-top: 150px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .slide {
    max-width: 200px;
    max-height: 200px;
  }
  #section-1 {
    margin-top: 150px;
  }
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .slide {
    max-width: 200px;
    max-height: 200px;
  }
  #section-1 {
    margin-top: 150px;
  }
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- Desktops ----------- */

